@charset "UTF-8";

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --roxo: #071158;
    --roxo-claro: #9631EB;
    --azul: #5931EB;
    --azul-claro: #3180EB;
    --rosa: #D331EB;
    --branco: #fff;
    --creme: #D1C5AD;
    --ouro: #D18A0C;
    --preto: #000;
}

/* menu principal */
.nav {
    background-color: var(--roxo);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

    & ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    & li {
        height: 50px;
    }

    & a {
        height: 100%;
        padding: 0 30px;
        text-decoration: none;
        font-size: 1.3em;
        display: flex;
        align-items: center;
        color: var(--branco);
        font-weight: bold;
    }

    & a:hover {
        background-color: var(--ouro);
        color: var(--roxo);
    }

    & li:first-child {
        margin-right: auto;
    }

    & .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    & .sidebar li {
        width: 100%;
    }

    & .sidebar a {
        width: 100%;
        font-size: 1em;
        color: var(--ouro);
        background-color: rgba(7, 77, 88, 0.1);
    }

    & .menu-button {
        display: none;
    }
}

/* primeira seção */
.meu-trabalho {
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 1200px;

    & p {
        display: flex;
        text-align: justify;
        padding: 10px;
        width: 900px;
        font-size: 1.6em;
    }

    & img {
        display: flex;
        float: right;
        padding: 10px;
        width: 400px;
        height: auto;
    }
}
/* segunda seção */
.detalhe-trabalho {
    display: flex;
    margin: auto;
    max-width: 1200px;
    text-align: justify;

    & p {
        display: flex;
        margin: 10px;
        width: 400px;
        height: auto;
    }
    & span {
        display: flex;
    }
}