
@media (max-width: 400px) {
    .nav .sidebar {
        width: 100%;
    }
}

@media (max-width: 804px) {
    .nav .hideOnMobile {
        display: none;
    }

    .nav .menu-button {
        display: block;
    }
    .primeira-secao-home {
        & p {
        font-size: 1em;
        }
        & img {
            width: 280px;
        height: auto;
        }
    }
}